export(add.kp)
export(alter.distn.estimator)
export(attributes.to.long)
export(bootstrap.estimates)
export(df.to.kpvec)
export(estimate.error)
export(gwsm.estimator)
export(kp.degree.estimator)
export(mean.ties.truth)
export(multiplicity.estimator)
export(networkreporting.estimator)
export(nsum.estimator)
export(nsum.internal.validation)
export(rescaled.bootstrap.sample)
export(srs.bootstrap.sample)
export(sum.degree.estimator)
export(topcode.data)
export(topcode.var)
import(dhstools)
import(functional)
import(plyr)
import(reshape2)
import(stringr)
